html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

#root {
    background-color: #fafafa
}

.logo-text {
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
    opacity: 1
}

.not-scrollable {
    overflow: hidden;
    position: fixed;
    touch-action: none;
}